<template name="EditTask">
    <div id="edit-task" class="modal">
        <div class="modal-content">
            <h3>Editar Tarefa</h3>
            <form class="edit-task-form">
                <div class="input-field">
                    <input type="text" name="name" placeholder="Nome" id="name-task-edit" required="" aria-required="true" />
                    <label for="name-task-edit" class="active">Nome da tarefa</label>
                </div>
                <div class="input-field">
                    <input type="text" name="description" placeholder="Descrição" id="description-task-edit" required="" aria-required="true" />
                    <label for="description-task-edit" class="active">Descrição</label>
                </div>
                <input type="hidden" id="task-id" value=""/>

                <button class="btn waves-effect waves-light" id="cancel-task-edit">Cancelar
                    <i class="material-icons right">cancel</i>
                </button>
                <button class="btn waves-effect waves-light right" type="submit" name="action">Atualizar
                    <i class="material-icons right">autorenew</i>
                </button>

            </form>
        </div>
    </div>
</template>