<template name="NewClass">
    <div id="new-class" class="modal new-class">
        <div class="modal-content">
        <form class="new-class-form">
            <input type="text" name="name" placeholder="Nome" />
            <input type="text" name="description" placeholder="Descrição" />
            <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </form>
        </div>
    </div>
</template>

