<template name="EditTest">
    <div id="edit-test" class="modal">
        <div class="modal-content">
            <h4>Novo teste</h4>
            <form class="edit-test-form">
              <input type="hidden" id="test-id" value=""/>   
                <div class="row">
                    <div class="input-field">
                        <input type="text" id="name-test" name="name-test" />
                        <label for="name-test" class="active">Nome do Teste</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input type="number" id="points-test" name="points-test" min="0" step="1" max="1000"/>
                            <label for="points-test" class="active">Pontos (Maximo de 1000)</label>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <textarea id="description-test" name="description-test" class="materialize-textarea"></textarea>
                    <label for="description-test" class="active">Descrição</label>
                </div>
                <button class="btn waves-effect waves-light" name="action" id="cancel">Cancelar
                    <i class="material-icons right">cancel</i>
                </button>
                <button class="btn waves-effect waves-light right" type="submit" name="action" id="update">Atualizar
                    <i class="material-icons right">autorenew</i>
                </button>
            </form>
        </div>
    </div>
</template>