<template name="EditQuestion">
    <div id="edit-question" class="modal">
        <div class="modal-content">
            <h4>Questão</h4>
            <form class="edit-question-form">
                <input type="hidden" id="question-id"/>  
                <div class="input-field">
                    <textarea id="statement-edit" name="statement" class="materialize-textarea"></textarea>
                    <label for="statement" class="active">Enunciado</label>
                </div>
                {{> AnswerList answer_list=editQuestionArray}}
                <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</template>