 <template name="AnswerList">
     <div class="row">
                <div class="col s9">
                    <div class="input-field">
                        <input type="text" class="new-answer" name="new-answer"/>
                        <label for="name">Resposta</label>
                    </div>
                </div>
                <div class="col s3">
                    <div class="input-field">
                        <a class="waves-effect waves-teal btn-flat" id="add-answer">Adicionar</a>
                    </div>
                </div>
    </div>
    {{#each answerList}}
        {{> SingleAnswer}}
    {{/each}}
 </template>
