<template name="BroochList">
		{{#if isInRole 'teacher'}}
			{{> NewBrooch}}
			{{> EditBrooch}} 
			{{> GiveBrooch}}
		{{/if}}
		<div class="card-panel orange darken-3 header">
			<div class="row">
				<div class="col s10">
                    <h3 class="white-text">Broches</h3>
            	</div>
            	<div class="col s2">
                    <i class="large material-icons white-text title-icon">stars</i>
            	</div>
			</div>
		</div>
		 {{#if Template.subscriptionsReady}} 
		<div class="card-panel grey lighten-4">
			{{#if hasBrooch}}
				<div class="row">
					{{#each brooch}}
						{{>Brooch}} 
					{{/each}}
				</div>
			{{else}}
				<h1>Você ainda não{{#if isInRole 'teacher'}} criou {{else}} tem {{/if}}
				nenhum Broche</h1>
			{{/if}}
			<div class="row">
	            {{> PageButtons hasElements=hasBrooch previous=prevBroochs next=nextBroochs}}
	            <div class="{{#if hasBroochs}}col s12 m4 l4{{/if}}">
	            	{{#if isInRole 'teacher'}} 
	                	{{> AddButton add=addBrooch}} 
	            	{{/if}}
	            </div>
	        </div>
	    </div>
		{{else}}
    		<div class="loading-box">
    		</div>
		{{/if}}
</template>