<template name="EditClass">
    <div id="edit-class" class="modal edit-class">
        <div class="modal-content">
            <h3>Editar Classe</h3>
            <form class="edit-class-form">
                <input type="text" name="name" placeholder="Nome" id="nomeClasse" />
                <input type="text" name="description" placeholder="Descrição" id="descricaoClasse" />

                <span style="display:none" id="spanId"></span>

                <button class="btn waves-effect waves-light" type="submit" name="action" id="cancela">Cancelar
                    <i class="material-icons right">cancel</i>
                </button>
                <button class="btn waves-effect waves-light right" type="submit" name="action" id="atualiza">Atualizar
                    <i class="material-icons right">autorenew</i>
                </button>

            </form>
        </div>
    </div>
</template>