<template name="EditBrooch">
    <div id="edit-brooch" class="modal edit-brooch">
        <div class="modal-content">
            <h3>Editar Broche</h3>
            <form class="edit-brooch-form">
                <input type="text" name="name" placeholder="Nome" id="nameBrooch" />
                <input type="text" name="description" placeholder="Descrição" id="nameBrooch" />
                <input type="file" name="description" placeholder="foto" id="imageBrooch" />

                <span style="display:none" id="spanId"></span>

                <button class="btn waves-effect waves-light" type="submit" name="action" id="cancela">Cancelar
                    <i class="material-icons right">cancel</i>
                </button>
                <button class="btn waves-effect waves-light right" type="submit" name="action" id="atualiza">Atualizar
                    <i class="material-icons right">autorenew</i>
                </button>

            </form>
        </div>
    </div>
</template>