<template name="MainNav">
    <nav class="main-nav">
        <div class="nav-wrapper purple darken-4">
            <div class="brand-logo">
            <a href="/main"><img class="logo-img" src="/img/gamify-logo2.png"></a>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if currentUser}}
                     <li>{{username}}</li> 
                     <li><a class='dropdown-button' href='#' data-activates='user-dropdown'><i class="material-icons">person</i></a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    {{#if currentUser}}
    <ul id='user-dropdown' class='dropdown-content'>
        <li class="logout"><a href="#!">Logout</a></li>
    </ul>
    {{/if}}
</template>