<template name="ClassListButtons">
    <div class="row">
        {{#if hasClasses}}
            <div class="col s12 m8 l4 offset-l4 center-align">
                <a class="waves-effect waves-light btn previous center">previous</a>
                <a class="waves-effect waves-light btn next center">next</a>
            </div>
        {{/if}}
        {{#if isInRole 'teacher'}}
            <div class="{{#if hasClasses}}col s12 m4 l4{{/if}}">
                <a class="btn-floating btn-large waves-effect waves-light red add-class right" href="#modal1"><i class="material-icons">add</i></a>
            </div>
        {{/if}}
    </div>
</template>