<template name="MainFooter">
    <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Gamify School</h5>
                <p class="grey-text text-lighten-4">O Gamify School é um sistema de gamificação para sala de aula que tem o objetivo de tornar o ensino mais lúdico e engajante</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Grupo</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Mateus Recouso</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ana Sofia Marques</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Leandro Fróes</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Rômulo Garofalo</a></li>
                </ul>
                <br>
                <p class="logout"><a href="#!" class="white-text">Logout</a></p>
              </div>
    </div>
    <div class="footer-copyright">
        © 2017 Gamify School
    </div>
</template>