<template name="resetPassword">
    <h1> Redefina sua senha</h1>
    <form class="reset-password-form">
    <div class="input-field">
        <input type="password" id="old-password" name="old_password"/>
        <label for="old-password">Senha provisoria</label>
    </div>
    <div class="input-field">
        <input type="password" id="new-password" name="new_password"/>
        <label for="new_password">Nova Senha</label>
    <p class="hide" id="password-strength"></p>
    </div>
    <div class="input-field">
        <input type="password" id="confirm_password" name="confirm_password"/>
        <label for="confirm_password">Confirmar senha</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
    </button>
    </form>
</template>