.scrollable{
    overflow-y: auto;
    max-height: 400px;
}

.title-icon{
    margin-top: 10px;
}

.task-points{
    line-height: 300%;
    font-size: 16px
}


/*criar classe especifica pra isso*/
.edit-task{
    margin-right: 70px
}

.edit-test{
    margin-right: 70px
}