<template name="NewBrooch">
	<div id="new-brooch" class="modal new-brooch">
        <div class="modal-content">
        <form class="new-brooch-form">
            <input type="text" name="name" id="brooch-name" placeholder="Nome" />
            <input type="text" name="description" id="brooch-description" placeholder="Descrição" />
            <input type="number" name="points" id="brooch-points" placeholder="Pontos" min="0" step="1" max="1000"/>
            <input id="fileInput" type="file" name="image"/>
            <br>
            <br>
            <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </form>
        </div>
    </div>
</template>
