<template name="ClassTabs">
   <div class="row">
    <div class="col s12">
      <ul class="tabs ">
        <li class="tab col s3"><a id="students" class="active indigo-text text-darken-3" href="#">Alunos</a></li>
        <li class="tab col s3"><a id="tasks" class="indigo-text text-darken-3" href="#">Tarefas</a></li>
        <li class="tab col s3"><a id="tests" class="indigo-text text-darken-3" href="#">Questionários</a></li>
        <li class="tab col s3"><a id="broochList" class="indigo-text text-darken-3" href="#">Broches</a></li>
        
      </ul>
    </div>
   </div>
</template>