<template name="TaskSingle">
    {{#if Template.subscriptionsReady}}
    <div class="section">
        <div class="row">
          <div class="col s2">  
                <a href="/class/{{taskClass}}" class="waves-effect waves-light btn-large"><i class="material-icons left white-text">arrow_back</i>Voltar</a>
          </div>
          <div class="col s8 center-align"> 
            <h3>Tarefa: {{taskName}}</h3>
          </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
          <div class="col offset-s2 s8">
          <div class="center-align long-paragraph">
            <p><b>Descrição:</b> {{taskDescription}}</p>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="center-align">
            <p class="test-state">Prazo: {{dateFormat}}</p>
          </div>
        </div>
    </div>
    <div class="section">
    <div class="divider"></div>
    <div class="indigo lighten-1">
        <div class="collection scrollable">
                <div class="collection-header">
                    <div class="row">
                        <div class="col s10">
                            <h3 class="white-text">Checklist</h3>
                        </div>
                        <div class="col s2">
                            <i class="large material-icons white-text title-icon">checklist</i>
                        </div>
                    </div>
                </div>
                {{#each taskChecklist}}
                    {{>StudentTask}}
               {{/each}}
        </div>
    </div>
    </div>
    {{else}}
        <div class="loading-box">
    	</div>    
    {{/if}}
</template>