<template name="TaskSingle">
    {{#if Template.subscriptionsReady}}
    <div class="card-panel grey lighten-4">
        <div class="row"> 
            <div class="collection scrollable">
                <div class="collection-header">
                    <h4>{{taskName.name}}</h4>
                </div>
                {{#each taskChecklist}}
                    {{>StudentTask}}
               {{/each}}
            </div>
        </div>
    </div>
    {{else}}
        <span>Carregando</span>
    {{/if}}
</template>